<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appwork.mentorshipprogram">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!--JobIntentService-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentorShipProgram">
        <service
            android:name=".background.service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".background.service.MyNormalService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".background.service.MyBindingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".background.service.MyJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".background.service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

        <activity
            android:name=".background.SecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".background.async.MainBackgroundActivity"
            android:exported="true" />
        <activity
            android:name=".lifecycle.fragment.MainActivity"
            android:exported="true" />
    </application>

</manifest>